{
    "logs": [
        {
            "outputFile": "D:\\ANDROID\\SpeedLy\\app\\build\\intermediates\\incremental\\mergeReleaseResources\\merged.dir\\values-te\\values-te.xml",
            "map": [
          